#equipo {
    padding-top: 118px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}

#tituloEquipo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: xx-large;

}

.fotoMiembro {
    width: 275px;
    height: 210px;
}

.resena {
    width: 600px;
    font-size: large;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.cajaMiembro {
    margin-top: 30px;
    margin-bottom: 30px;
}

.miembro1 {
    display: flex;
    flex-wrap: wrap;
}

.miembro2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nombre2 {
    text-align: end;
}

@media screen and (max-width: 426px) {
    #equipo {
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 80px;
    }

    #tituloEquipo {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30px;
    }

    .resena {
        text-align: left;
    }

    .cajaMiembro {
        text-align: center;
    }

    .miembro1 {
        justify-content: center;
    }

    .miembro2 {
        justify-content: center;
    }

    .nombre2 {
        text-align: center;
    }
}