#tienda {
    padding-top: 118px;
}

.botonesTienda {
    height: 50px;
    padding-right: 20px;
    @include flex(row);
    justify-content: end;
    flex-wrap: nowrap;
    align-items: center;
}

#ordenarPor {
    padding-right: 20px;
}

#iconoFiltro {
    width: 20px;
}

#menuTienda {
    @include flex(row);
    justify-content: space-around;
    height: 70px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    white-space: nowrap;
}

.botonProducto {
    min-width: 115px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    background: whitesmoke;
    color: black;
    text-align: center;
    border: solid thin;
    font-size: 18px;
    font-style: italic;
}

.botonProducto:hover {
    background-color: black;
    color: whitesmoke;
}

.escaparate {
    margin-top: 20px;
    margin-bottom: 20px;
}

.etiquetaProducto {
    max-width: 300px;
    margin: 10px;
    @include flex(column);
    align-items: center;
    font-weight: bold;
    text-align: center;
    border: solid lightgray;
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1023px) {
    #menuTienda {
        justify-content: space-between;
    }
}

@media screen and (max-width: 426px) {
    #tienda {
        padding-top: 80px;
    }

    .botonesTienda {
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0px;
    }

    #ordenarPor {
        padding-right: 0px;
    }

    #menuTienda {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 0px;
        height: auto;
    }

    .botonProducto {
        font-size: 16px;
    }

    .fotoProducto {
        width: 140px;
    }

    .etiquetaProducto {
        margin: 5px;
        @include flex(column);
        align-items: center;
        font-weight: bold;
        border: solid lightgray;
        border-width: 1px;
        border-radius: 10%;
    }
}