.logo {
    width: 90px;
    height: 90PX;
}

header {
    background-color: $colorSecundario;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-width: thin;

}

@media screen and (max-width: 426px) {
    .logo {
        height: 50px;
        width: 50px;
    }
}